<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>Recon311</Name>
      <OrgId>0de494c1-f104-48e9-9137-eb538573ca27</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vcmVjb24zMTEuY3JtLmR5bmFtaWNzLmNvbTtVc2VybmFtZT1iZW50b25AcmVjb24zMTEub25taWNyb3NvZnQuY29tO1Bhc3N3b3JkPUlATUFETUlOIXE2Ow==</ConnectionString>
      <Version>7.0.1.237</Version>
      <Selected>True</Selected>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>0de494c1-f104-48e9-9137-eb538573ca27</OrgId>
      <Path>/ezt_ConfigurationPage.html</Path>
      <WebResourceId>243a2f27-4231-e511-80e8-c4346bac0544</WebResourceId>
      <WebResourceName>ezt_ConfigurationPage.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0de494c1-f104-48e9-9137-eb538573ca27</OrgId>
      <Path>/ezt_icon_16x16.png</Path>
      <WebResourceId>027cb262-7630-e511-80e6-fc15b4284734</WebResourceId>
      <WebResourceName>ezt_icon_16x16.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0de494c1-f104-48e9-9137-eb538573ca27</OrgId>
      <Path>/ezt_icon_32x32.png</Path>
      <WebResourceId>735f554a-7630-e511-80e6-fc15b4284734</WebResourceId>
      <WebResourceName>ezt_icon_32x32.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0de494c1-f104-48e9-9137-eb538573ca27</OrgId>
      <Path>/ezt_logo_128x28.png</Path>
      <WebResourceId>6ded02d0-7530-e511-80e6-fc15b4284734</WebResourceId>
      <WebResourceName>ezt_logo_128x28.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0de494c1-f104-48e9-9137-eb538573ca27</OrgId>
      <Path>/ezt_Logo_256x55.png</Path>
      <WebResourceId>38068cef-7530-e511-80e6-fc15b4284734</WebResourceId>
      <WebResourceName>ezt_Logo_256x55.png</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0de494c1-f104-48e9-9137-eb538573ca27</OrgId>
      <Path>/ezt_Map_Icon_16_16.png</Path>
      <WebResourceId>0dad1243-142a-e411-b762-6c3be5a8b8b0</WebResourceId>
      <WebResourceName>ezt_Map_Icon_16_16</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0de494c1-f104-48e9-9137-eb538573ca27</OrgId>
      <Path>/ezt_Map_Icon_32_32.png</Path>
      <WebResourceId>5f8af257-142a-e411-b762-6c3be5a8b8b0</WebResourceId>
      <WebResourceName>ezt_Map_Icon_32_32</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0de494c1-f104-48e9-9137-eb538573ca27</OrgId>
      <Path>/ezt_Map_Icon_Modern.png</Path>
      <WebResourceId>89c249a9-142a-e411-b762-6c3be5a8b8b0</WebResourceId>
      <WebResourceName>ezt_Map_Icon_Modern</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0de494c1-f104-48e9-9137-eb538573ca27</OrgId>
      <Path>/ezt_MapViewBuilder.html</Path>
      <WebResourceId>75ad6b32-a02f-e511-80f2-c4346bac43a0</WebResourceId>
      <WebResourceName>ezt_MapViewBuilder</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0de494c1-f104-48e9-9137-eb538573ca27</OrgId>
      <Path>/ezt_openeasyterritory.js</Path>
      <WebResourceId>e6bf7b53-312a-e411-98c5-6c3be5a6aa7c</WebResourceId>
      <WebResourceName>ezt_openeasyterritory</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0de494c1-f104-48e9-9137-eb538573ca27</OrgId>
      <Path>/ezt_spotOn.html</Path>
      <WebResourceId>4371ac49-1d61-e411-ad1d-6c3be5a6aa7c</WebResourceId>
      <WebResourceName>ezt_spotOn</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0de494c1-f104-48e9-9137-eb538573ca27</OrgId>
      <Path>/ezt_Utilities.js</Path>
      <WebResourceId>b4964f6a-3a31-e511-80e8-c4346bac0544</WebResourceId>
      <WebResourceName>ezt_Utilities.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0de494c1-f104-48e9-9137-eb538573ca27</OrgId>
      <Path>/ezt_DefaultSettings.xml</Path>
      <WebResourceId>e35651ce-4131-e511-80e8-c4346bac0544</WebResourceId>
      <WebResourceName>ezt_DefaultSettings.xml</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>